html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'SF Pro Regular', sans-serif;
    background-color: #fff;
    color: var(--tg-theme-text-color);
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.dark {
    background-color: #1c1c1e;
}

body.light > #root > .wrapper > .training > .training-item > .training-image-wrap > .training-image {
    background-color: #fff;
}

body.dark > #root > .wrapper > .training > .training-item > .training-image-wrap > .training-image {
    background-color: #1c1c1e;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.medium {
    font-family: SF Pro Medium, sans-serif;
    font-size: 17px;
}

.button-reusable,
.button-reusable:visited {
    width: 100%;
    text-align: center;
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
    border-radius: 16px;
    padding: 18px 15px;
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

/* header */


.header {
    padding: 15px 29px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#username {
    font-size: 17px;
    color: var(--tg-theme-text-color);
    background-color: transparent;
    order: 2;
}

.bubble-wrap {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items :center;
    padding: 10px;
    transition: .3s;
    cursor: pointer;
    background: rgba(217, 217, 217, 0.3);
}

.avatar-wrap {
    order: 1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

/* main */

.main {
    display: block;
}

.main.active {
    display: block;
}

.main-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: visible;
}

.main-button {
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    position: fixed;
    -webkit-box-shadow: 0px -6px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -6px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -6px 10px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.main-button.hide {
    display: none;
}

.main-button:hover {
    background: var(--tg-theme-button-color);
}

.main-button-text {
    font-size: 15px;
}

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* button */

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    order: 1;
}

.button {
    color: var(--tg-theme-button-text-color);
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
    width: 100%;
}

.button-header {
    font-size: 32px;
    font-family: 'Benzin';
    font-weight: 600;
    letter-spacing: .08rem;
}

/* button - training */

#training {
    background: linear-gradient(180deg, #C8F660 0%, #D1F779 100%);
    border-radius: 32px;
    padding: 30px;
    padding-bottom: 50px;
    position: relative;
    color: #000000;
}

.training-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.training-wrap.main_training-wrap {
    margin-bottom: 7px;
    column-gap: 10px;
}

.button-header.button-header_training {
    order: 1;
}

.p2p.p2p-main {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 20px;
    right: 30px;
    order: 2;
}

.p2p.p2p-main > path:first-child {
    fill: var(--tg-theme-button-color);
}

.training-content {
    font-size: 18px;
}

/* button - calc */

#calculator {
    background: #000000;
    padding: 30px;
    padding-right: 38px;
    padding-bottom: 40px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background: linear-gradient(180deg, #000000 0%, #444444 100%);
    backdrop-filter: blur(16px);
}

.button-header.button-header_calculator {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    font-size: 7vw;
    color: #fff;
}

.arrow-wrap {
    display: inline-flex;
    align-items: center;
    margin-bottom: 3px;
}

.bubble-arrow-wrap {
    transform: rotate(180deg);
}

.button-header.button-header_calculator > .arrow-wrap > .left {
    width: 13px;
    height: 22px;
}

.button-header.button-header_calculator > .arrow-wrap > .left > path {
    fill: #fff;
}

.lock-wrap {
    display: flex;
    align-items: flex-end;
}

.lock-wrap.light > .lock-ic > path {
    fill: #000;
}

.lock-wrap.dark > .lock-ic > path {
    fill: #fff;
}

.arrow-wrap.disabled, .lock-wrap.disabled {
    display: none;
}

.left > path {
    width: 12px;
    height: 12px;
    fill: var(--tg-theme-text-color)
}

.calculator-bg {
    background-color: #000000;
    height: 32px;
    position: absolute;
    bottom: 0; right: 0; left: 0;
    z-index: -1;
}

/* button - ref */

#ref {
    background-color: transparent;
    color: var(--tg-theme-text-color);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    padding-right: 22px;
    margin-bottom: 5px;
    /*border-bottom: 1px solid rgba(217, 217, 217, 0.16);*/
    font-size: 17px;
    font-family: SF Pro Medium, sans-serif;
}

.bubble-wrap_main {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_main {
    width: 12px;
    height: 12px;
}

/* footer */

.footer > .grey {
    font-size: 13px;
}

#timeout {
    display: flex;
    align-self: center;
    justify-self: center;
    order: 2;
    padding: 0 15px;
    margin-bottom: 12px;
    width: 100%;
    position: relative;
    color: var(--tg-theme-text-color);
}

.timeout-inner {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0,-50%);
    font-size: 17px;
    font-weight: 600;
}

.ellipse.hidden {
    display: none;
}

.infinity.hidden {
    display: none;
}

.infinity {
    width: 121px;
    height: 43px;
}

body.dark > #root > .wrapper > .main > .main-inner > #timeout > .infinity > .infinity-color {
    stroke: var(--tg-theme-button-color);
}

.infinity-color {
    stroke: #C8F660;
}

.iframe-wrap {
    overflow: auto;
    width: 100%;
    height: 84vh;
}

.footer {
    order: 3;
    padding-bottom: 40px;
    padding-left: 30px; padding-right: 30px;
    float: right;
    text-align: left;
    line-height: 1.4;
}

.grey {
    color: #AAB2BD;
}

.contact {
    color: var(--tg-theme-link-color);
    display: inline-flex;
    align-items: flex-end;
}

.telegram-icon-wrap {
    display: inline-flex;
    height: 22px;
    align-items: center;
}

.contact > .telegram-icon-wrap > svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    order: 1;
}

.contact > .telegram-icon-wrap > svg > path {
    fill: var(--tg-theme-link-color);
}

#telegram,
#telegram:visited {
    color: var(--tg-theme-link-color);
    order: 2;
    text-decoration: none;
    border-bottom: 1px dotted var(--tg-theme-link-color);
}

#telegram {
    font-size: 13px;
}

/* modal */

.modal {
    position: relative;
}

.modal-background {
    background-color: #000;
    opacity: 0;
    transition: opacity .2s;
    z-index: 2;
}

.modal.active > .modal-background {
    cursor: pointer;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.44);
    opacity: 1;
    transition: opacity .2s;
}

.modal-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px 10px 0 0;
    width: 100%;
    min-height: 100px;
    z-index: 5;
    padding: 8px 20px 20px 20px;
    position: fixed;
    bottom: 0; right: 0; left: 0;
    transform: translateY(100%);
    margin: 0 auto;
    background-color: var(--tg-theme-bg-color);
    transition: transform .2s ease-out;
}

.modal.active > .modal-inner {
    transform: translateY(0);
    transition: transform .2s ease-out;
}

.dragger {
    background-color: var(--tg-theme-secondary-bg-color);
    width: 10%;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.modal-header-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.modal-header {
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
}

.modal-header.hide {
    display: none;
}

.modal-text {
    width: 100%;
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}

.modal-text.hide {
    display: none;
}

/* browser player */
.browser-player-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 88%);
}

@media (max-width: 425px) {
    #page-video {
        height: 450px!important;
        width: 90%!important;
    }
}

.wrapper.dark {
    background-color: #1c1c1e;
}

.wrapper {
    min-height: 100vh;
}

.wrapper.hidden {
    display: none;
}

/* loader */

.loader-wrap {
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    z-index: 1;
    background-color: var(--tg-theme-bg-color);
    transition: visibility .5s;
    display: none;
    z-index: 2000;
}

.loader-wrap.active {
    display: block;
}

.loader {
    z-index: 2;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 5px solid var(--tg-theme-button-color);
    border-top: 5px solid var(--tg-theme-secondary-bg-color);
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 60%;
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* no subscribe */

.not-authorized {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    padding: 30px;
}

.not-authorized-header {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #1C1C1E;
    margin-bottom: 11px;
}

.not-authorized-text {
    margin-bottom: 6px;
    color: #1C1C1E;
}

body.dark > #root > .not-authorized {
    background-color: #1C1C1E;
}

body.dark > #root > .not-authorized > .not-authorized-header,
body.dark > #root > .not-authorized > .not-authorized-text {
    color: #fff;
}

.not-authorized-link {
    color: var(--tg-theme-link-color);
    text-decoration: none;
    border-bottom: 1px solid var(--tg-theme-link-color);
}

.title {
    color: var(--tg-theme-text-color);
    font-size: 1.5rem;
    text-align: center;
}

.calculator-error {
    color: #FF3B30;
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 3px;
}

.calculator-input {
    margin-bottom: 4px;
}

/* referal */

.referal {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.referal.active {
    display: flex;
}

.referal > .content > div:first-child {
    padding: 0 30px;
}

.referal > .content > div {
    padding: 0 20px;
}

.referal > div:last-child {
    padding: 20px;
}

.referal_header {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.bubble-wrap_referal {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto 0;
    left: 20px;
}

.bubble-wrap_referal > svg {
    transform: rotate(180deg);
    width: 10px;
    height: 16px;
}

.balance-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 234px;
    border-radius: 32px;
    position: relative;
    margin-bottom: 25px;
    background: linear-gradient(180deg, #E6E9ED 0%, #F5F7FA 100%);
    backdrop-filter: blur(16px);
}

body.dark > #root > .wrapper > .referal > .content > .balance-wrap {
    background: linear-gradient(180deg, #313439 0%, #1F2022 100%);
    backdrop-filter: blur(16px);
}

body.dark > #root > .wrapper > .training > .training-item > .training-brief > .training-brief-inner,
body.dark > #root > .wrapper > .training > .training-item > .training-brief > .training-brief-inner > .brief-bg,
body.dark > #root > .wrapper > .training > .training-item > .training-content > .training-content-inner {
    background-color: #1c1c1e;
}

body.dark > #root > .wrapper > .training > .training-item > .training-brief > .training-brief-inner > .brief-locked {
    background: linear-gradient(180deg,#1c1c1e6b,#1c1c1e 60.7%);
}

.balance-text {
    color: #AAB2BD;
    z-index: 1010;
}

.button-header_balance {
    font-size: 59px;
    font-size: 14vw;
    z-index: 1010;
}

.lines {
    position: absolute;
    width: 179px;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: none;
    z-index: 1000;
}

#referal-balance {
    color: var(--tg-theme-button-text-color);
}

.description {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.referal_medium {
    margin-bottom: 5px;
}

.share-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 23px;
}

.share-link {
    background: rgba(217, 217, 217, 0.16);
    padding: 18px 15px;
    border-radius: 16px;
    font-size: 17px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.share-icon-wrap {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-telegram {
    order: 2;
}

.share-telegram:visited {
    color: var(--tg-theme-button-text-color);
    text-decoration: none;
}

.share-system {
    order: 2;
    color: var(--tg-theme-button-text-color);
}

#referal_link {
    order: 1;
}

#settings-bubble {
    padding: 8px;
}

.share-ic {
    order: 1;
    width: 22px;
    height: 22px;
    fill: var(--tg-theme-button-text-color);
    margin-right: 3px;
}

.lock-ic > path {
    width: 22px;
    height: 22px;
    fill: var(--tg-theme-button-text-color);
}

.training-lock-ic {
    width: 24px;
    height: 35px;
}

.subtheme-lock-ic {
    width: 11px;
    height: 16px;
}

.subtheme-lock-ic > path {
    fill: #AAB2BD;
}

.subtheme-lock-ic.visible {
    display: block;
}

.settings-ic {
    width: 100%;
    height: 100%;
    fill: var(--tg-theme-button-color);
}

.copy-ic {
    fill: var(--tg-theme-button-color);
    width: 19px;
    height: 18px;
    order: 2;
}

.check-ic {
    width: 16px;
    height: 16px;
}

.check-ic > path {
    fill: var(--tg-theme-button-color);
}

.copied {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 5px;
    border-radius: 16px;
    font-size: 14px;
    opacity: 0;
    transition: opacity .3s;
}

.copied.active {
    opacity: 1;
    transition: opacity .3s;
}

/*training - page*/

.training {
    background: linear-gradient(180deg, #C8F660 0%, #D1F779 100%);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.training > .training-wrap {
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 33px 30px;
}

.p2p.p2p-training {
    position: static;
}

.button-header.button-header_training__page {
    margin-bottom: 0!important;
    color: #1c1c1e;
}

.button-header.button-header_training__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    position: relative;
}

.check-ic-training {
    position: absolute;
    right: -10px;
    top: -5px;
    width: 20px;
    height: 20px;
}

.training-item {
    background-color: #fff;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    margin-bottom: 25px;
}

.training-item:last-child {
    margin-bottom: 0;
}

.training-image-wrap {
    background: linear-gradient(180deg, #C8F660 0%, #D1F779 100%);
    height: 216px;
    width: 100%;
    position: relative;
}

.training-image {
    background-color: #f1f1f1;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    width: 100%;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
}

.training-brief {
    background: linear-gradient(180deg, #C8F660 0%, #D1F779 100%);
    cursor: pointer;
}

.training-brief.active > .training-brief-inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.training-brief-inner {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 30px;
    padding-top: 0;
    background-color: #fff;
    transition: border-radius .1s;
    position: relative;
}

.training-brief-inner.dark {
    background-color: #1c1c1e;
}

.brief-bg {
    transform: translateY(-95%);
    background-color: #fff;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    height: 30px;
    position: absolute;
    right: 0;left: 0;
}

.brief-locked {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 1) 60.7%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
}

.brief-locked.dark {
    background: linear-gradient(180deg, rgba(28, 28, 30, 0.24) 0%, rgba(28, 28, 30, 1) 60.7%);
}

.brief-locked-inner {
    display: flex;
    align-items: flex-end;
    gap: 14px;
}

.brief-error {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 3px;
}

.brief-error.dark {
    background-color: #fff;
}

.brief-locked-hidden {
    display: none;
}

.brief-bg.dark {
    background-color: #1c1c1e;
}

.training-content-inner.dark {
    background-color: #1c1c1e;
}

.training-brief > .button-header {
    margin-bottom: 12px;
}

.training-content.training-content_page.active {
    max-height: 9999px;
    transition: max-height 0.2s cubic-bezier(1, 0, 1, 0);
}

.training-text {
    font-size: 17px;
}

.training-content.training-content_page{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);;
    background: linear-gradient(180deg, #C8F660 0%, #D1F779 100%);
}

.training-content-inner {
    padding: 0 30px;
    border-radius: 32px;
    background-color: #fff;
    transition: border-radius .2s;
}

.training-content.training-content_page.active > .training-content-inner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: border-radius .2s;
}

.training_medium {
    font-size: 20px;
    margin-bottom: 27px;
}

.training-lesson {
    font-size: 17px;
    padding: 27px 0;
    border-bottom: 0.5px solid #E6E9ED;
    color: #AAB2BD;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

.training-lesson:visited {
    color: #AAB2BD;
}

.training-lesson:last-child {
    border-bottom: none;
    padding-bottom: 47px;
}

.training-lesson.viewed,
.training-lesson.active {
    color: var(--tg-theme-text-color);
}

.training-lesson.viewed > .check-ic {
    display: block;
}

.training_header {
    display: flex;
}

.article_text > a {
    color: var(--tg-theme-button-color);
    text-decoration: none;
}

.article_text > a:hover {
    text-decoration: underline;
}

.article_text > img {
    border-radius: 32px;
    margin: 17px 0;
}

.article_text:last-child {
    margin-bottom: 0;
}

/* training-item */

.video-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.video::-webkit-media-controls-fullscreen-button {
    visibility: hidden!important;
}

.icon-fullscreen {
    width: 18px;
    height: 18px;
}

.fullscreen-button {
    position: absolute;
    right: 3.3%;
    bottom: 16.5%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.article_image-wrap {
    background: transparent;
    border-radius: 26px;
    margin-bottom: 20px;
}

.article_image-wrap:has(.video) {
    background-color: #000;
}

.article_image-wrap:empty {
    height: 0;
}

.video {
    height: 100%;
    border-radius: 26px;
}

.article_button-header {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    padding: 0 30px;
}

.go-to-browser {
    position: absolute;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}

.go-to-browser.active {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s, visibility .2s;
}

.fullscreen-button.go-to {
    background-color: var(--tg-theme-button-color);
    border-radius: 8px;
    top: 20px;
    justify-content: center;
}

#go-to-button {
    display: inline;
    width: auto;
    font-size: 15px;
}

#go-to-button > a,
#go-to-button > a:visited {
    text-decoration: none;
    color: var(--tg-theme-button-text-color);
}

.video {
    width: 100%;
}

.article_image-wrap.hide {
    display: none;
}

#article-image {
    border-radius: 32px;
}

#article-video {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    position: relative;
}

#article-image.hide,
#article-video.hide {
    display: none;
}

.article-content {
    padding: 0 30px;
    padding-bottom: 27px;
    display: inline-flex;
    flex-direction: column;
}

.article-content.custom {
    padding-bottom: 77px;
}

.article_medium {
    font-size: 20px;
    margin-bottom: 27px;
}

.article-button-background {
    background-color: var(--tg-theme-button-color);
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 100%;
    opacity: .5;
}

.article-play-button {
    z-index: 5;
}

/* video js */

#article-video > .vjs-big-play-button {
    width: 72px;
    height: 72px;
    padding-left: 5px;
    border-radius: 100%;
    background-color: var(--tg-theme-button-color)!important;
    opacity: .8;
    transition: opacity .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.vjs-big-play-button {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1!important;
    transition: opacity .2s;
}

.vjs-big-play-button.hide {
    opacity: 0!important;
    transition: opacity .2s;
}

#article-video > .vjs-big-play-button:focus,
#article-video:hover .vjs-big-play-button {
    background-color: var(--tg-theme-button-color);
}


.vjs-big-play-button > .vjs-icon-placeholder:before {
    display: none;
}

.vjs-control-bar {
    background: rgba(28, 28, 28, .5)!important;
}


.vjs-play-control > .vjs-icon-placeholder:before {
    padding-left: 10px;
}

#article-video > .vjs-control-bar {
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

#page-video {
    height: 500px;
    width: 94.5%;
}

.lighting {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body.dark > #root > .wrapper > .form > .input-wrap > .input {
    background-color: #2E2F32;
    color: #fff;
}

body.dark > #root > .wrapper > .currency-list > .currency-item.lightning > .lighting > path {
    fill: #1C1C1E;
}

body.dark > #root > .wrapper > .currency-list > .currency-item > .currency-header > .bubble-white {
    background-color: #4f5155;
}

body.dark > #root > .wrapper > .currency-list > .currency-item > .currency-header > span > .currency-name {
    color: #fff;
}

body.dark > #root > .wrapper > .currency-list > .currency-item > .currency-value > .currency-forecast > .forecast-value {
    color: #E6E6E6;
}

body.dark > #root > .wrapper > .currency-list > .currency-item > .currency-value {
    border-bottom: 0.5px solid rgba(28, 28, 30, .5);
}

body.dark > #root > .wrapper > .currency-list > .currency-item {
    background: linear-gradient(180deg, #313439 0%, #1F2022 100%);
    backdrop-filter: blur(16px);
}

body.dark > #root > .wrapper > .currency-list > .currency-item.green {
    background: #22342F;
    backdrop-filter: blur(16px);
}

body.dark > #root > .wrapper > .currency-list > .currency-item.red {
    background: rgba(48, 31, 30, .88);
    backdrop-filter: blur(16px);
}

.form {
    width: calc(100% - 60px);
    margin: 0 28px;
    margin-top: 20px;
    margin-bottom: 27.66px;
    display: flex;
    flex-direction: column;
}

.input-wrap {
    display: flex;
    justify-content: center;
}

.input {
    padding: 18px 15px;
    width: 100%;
    border: none;
    background-color: #F4F4F4;
    color: #1C1C1E;
    font-size: 17px;
    font-weight: 500;
    border-radius: 16px;
    font-family: SF Pro Medium, sans-serif;
}

.button-reusable.button-reusable-disabled {
    background-color: #CCD0D9;
}

.input:focus {
    outline: none;
}

.button-reusable.calculator_button {
    position: relative;
}

.button-loader {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 3px solid var(--tg-theme-button-text-color);
    border-top: 3px solid transparent;
    position: absolute;
    right: 10px;
    bottom: 10px;
    animation: spin 1s infinite ease-in-out;
}

.currency-list {
    width: 100%;
}

.currency-list.hide {
    visibility: hidden;
}

.currency-item {
    padding: 20px 20px 26px 20px;
    margin-bottom: 26px;
    font-family: SF Pro Medium, sans-serif;
    display: flex;
    justify-content: flex-start;
    gap: 21px;
}

.currency-item.lighting {
    background: linear-gradient(180deg, #E6E9ED 0%, #F5F7FA 100%);
}

.currency-item.green {
    background: rgba(6, 191, 102, 0.08);
    backdrop-filter: blur(16px);
}

.currency-item.red {
    background: #FFFAFA;
    backdrop-filter: blur(16px);
}

.currency-value,
.currency-header,
.currency-market{
    z-index: 2;
}

.currency-header {
    display: flex;
    align-items: center;
}

.bubble-white {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 9px;
}

.currency-header > span {
    font-weight: 500;
    font-size: 17px;
    word-spacing: .3rem;
}

.currency-code {
    color: #AAB2BD;
}

.currency-value {
    display: flex;
    column-gap: 37px;
    padding: 0 10px;
    padding-bottom: 25px;
    border-bottom: 0.5px solid rgba(28, 28, 30, 0.2);
}

.currency-forecast {
    display: flex;
    flex-direction: column;
}

.forecast-title {
    font-weight: 500;
    font-size: 13px;
    color: #AAB2BD;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.forecast-value {
    font-family: Benzin;
    font-size: 22px;
    letter-spacing: -0.408px;
    color: #1C1C1E;
}

.currency-market {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.market-logo {
    height: 18px;
}